<form action="/square/results">
  <label for="square_with_form">Enter a number</label>
  <input id="square_with_form" type ="text" placeholder ="what number do you want to square?" name="number_to_square">

  <button>Calculate square</button>
</form>


