<form action="/square_root/results">
  <label for="square_root_with_form">Enter a number</label>
  <input id="square_root_with_form" type ="text" placeholder ="What number do you want to take the square root of?" name="number_to_take_a_root">

  <button>Calculate square root</button>
</form>